<div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
          <h1>The answer from the coash is</h1>
            <h1><%= @answer %></h1>
        </div>
      </div>
</div>
